html, body, #map{
    padding: 0;
    margin: 0;
    height: 100%;
}
#HomeButton {
    position: absolute;
    top: 95px;
    left: 20px;
    z-index: 50;
    background-color: #000;
    border: 2px solid #ffffff;
}
#info {
    width: 14.0625em;
    background-color: #000;
    color: #fff;
    position: absolute;
    left: 10px;
    bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    border: 2px solid #ffffff;
    border-radius: 20px;
}
